.betinfo{
    min-height: 100%;
    background-color: #585858;

    & .betInfo{
        display: flex;
        // align-items: stretch;
        justify-content: flex-start;
        max-height: 100px;
        padding: 15px 10px;

        &__selected{
            &-box{
                width: 20px;
                height: 20px;
                border: 1px solid #d8d8d8;
            }
        }

        &__main{
            // height: 100px !important;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 2px solid red;
            &-top{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                height: 30px !important;
                svg{
                    width: 20px;
                    height: 20px;
                }
                .market{
                    margin: 0;
                }
            }
        }

        &__action{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 2px solid red;
        }
    }
}